<!doctype html>
<html>
    <head> 
        <title> Akshata's POV..!!</title>
    {% load static %}
      
    </head>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/Style.css' %}">

    <body>
        <h1> Portfolio of Akshata Lonari :
         B.Sc. Data Science </h1>
        <p>Name : Akshata Dattatray Lonari</p>
        <p>Phone : +919422567110 </p>
        <p>Email : akshatalonari18@gmail.com </p>
        <p> Location : Pune , India </p>

        <h2> About Me </h2>
        <p>Third-year Data Science and AI student with hands-on experience in Python, R, machine learning, and data visualization. 
            Strong foundation in data analytics, deep learning, and full-stack concepts. 
            Seeking an internship opportunity to apply and expand my technical skills in a real-world setting. </p>

        <h2> Skills </h2>
        <ul>
            <li> Python </li>
            <li> R programming </li>
            <li> Structured Query Language (SQL) </li>
            <li> Digital Marketing </li>
            <li> Blockchain </li>
        </ul>
    
        <h2> Education </h2>
        <h3> BSC Data Science </h3>
        <p> From 2023-2026 </p>

        <h2> Projects </h2>
        <h3> Stock Market Prediction </h3>
        <p> This project uses machine learning algorithms to analyze historical stock data and predict future price trends.
            Techniques like linear regression, LSTM, ASTIMA, SARIMAX, and random forests help forecast market movements with improved accuracy.

        <h3> Blockchain-based Attendance Ledger System </h3>
        <p> A blockchain-based attendance ledger  ensure secure, tamper-proof, and transparent attendance tracking using smart contracts.
            Users mark attendance via wallet authentication, and records are stored immutably on the blockchain for real-time verification.
        
        <h2> Certification </h2>
        <ul>
            <li> Basics of python - Infosys </li>
            <li> English - Professional proficiency</li>
            <li> Hindi - Native Proficiency </li>
            <li> German - Intermediate Proficiency </li>
        </ul>
    </body>
</html>